<%- include('header'); %>
<!-- tabela alunos -->
<div class="container theme-showcase" role="main">
	<div class='row'>
		<div class="col-md-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>Force Level</th>
					</tr>
				</thead>
				<tbody>
					<% alunos.forEach(function(user){ %>
					<% if (user.name) {%>
					<tr>
						<td><%- user.name %></td>
						<td><%- user.age %></td>
						<td><%- user.forcelevel %></td>

						<td><button data-id=<%- user.id %> type="remove-button" class="btn btn-xs btn-danger remove-button">Remover</button></td>

						<td><button data-id=<%-user.id%> type="update-button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#modal-put"->Atualizar</button></td>

					</tr>
					<% } %>
					<% }); %>    
				</tbody>
			</table>
		</div>
	</div>

	<!-- abrir modal inserir aluno -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-post" data-w>Inserir novo aluno</button>

	<!--modal atualizar-->
	<div class="modal fade" id="modal-put" tabindex="-1" role="dialog" aria-labelledby="modal-putlLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modal-putlLabel">Editar aluno:</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="control-label">Nome:</label>
							<input type="text" class="form-control" id="name">
						</div>

						<div class="form-group">
							<label for="recipient-name" class="control-label">Idade:</label>
							<input type="text" class="form-control" id="age">
						</div>

						<div class="form-group">
							<label for="recipient-name" class="control-label">Nivel na Força:</label>
							<input type="text" class="form-control" id="forcelevel">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					<button type="button" class="btn btn-primary send-button">Enviar</button>
				</div>
			</div>
		</div>
	</div>
</div>



<!--modal pro post -->
<div class="modal fade" id="modal-post" tabindex="-1" role="dialog" aria-labelledby="modal-postLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<h4 class="modal-title" id="modal-postLabel">Novo aluno</h4>
			</div>

			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Nome:</label>
						<input type="text" class="form-control" id="name">
					</div>

					<div class="form-group">
						<label for="recipient-name" class="control-label">Idade:</label>
						<input type="text" class="form-control" id="age">
					</div>

					<div class="form-group">
						<label for="recipient-name" class="control-label">Nivel na Força:</label>
						<input type="text" class="form-control" id="forcelevel">
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary post-button">Enviar</button>
			</div>
		</div>
	</div>
</div>
<%- include('footer'); %>